<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat Now!</h1>
    <input id="startchat" type="hidden" data-roomid="<%= id %>">Start Chat</input>
    <input type="text" id="username" placeholder="User Id">
    <input type="text" name="" id="msg" placeholder="type something..">
    <button id="btn" class="btn btn-dark">Send Message</button>
    
    <ul id="msg-list">
      <% for(let i=0; i < chats.length; i++) {%>
        <li><%= chats[i].user %><%= chats[i].content %></li>
     <% } %>
        
    </ul>
    <!-- <%= name %>
    <%= id %> -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        let startchat=document.getElementById('startchat');

let btn=document.getElementById('btn');
let inputMsg=document.getElementById('msg');
let username=document.getElementById('username');
let msgList=document.getElementById('msg-list');
socket.emit('join_room',{
      roomid:startchat.getAttribute('data-roomid')
     })

  btn.onclick=function exec(){
    socket.emit('msg-send',{
        msg:inputMsg.value,
        username:username.value ,
        roomid:startchat.getAttribute('data-roomid')
    });
  }

  
  socket.on('msg-received',(data)=>{   //this is listener which collectes the message from server and do the given tasks
    let  limsg=document.createElement('li');
    limsg.innerText=`${data.username}:${data.msg}`;
    msgList.appendChild(limsg);
  })
    </script>
</body>
</html>